.top-secion {
    display: flex;
    gap: .5rem;
}
.card-group {
    margin-top: 1rem !important;
}

.search-card {
    display: flex;
    flex-direction: column;
}
.search-card__card {
    margin-bottom: 1rem;
}
